main {
    max-width: calc(800px - 2rem);
}

@media screen and (width > 800px) {
    main {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    main {
        margin: 0 1rem;
    }
}
