---
import "../styles/global.css";
import "../styles/page.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog &mdash; Idle Vapourings</title>
        <title>About Me</title>
    </head>
    <body>
        <Navigation />
        <main>
            <h1>About Me</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis minus dicta ducimus error consequatur eum optio
                impedit excepturi, ad nobis fuga, minima amet odit aliquid!
                Laudantium consectetur error accusamus recusandae. Dignissimos
                laboriosam eligendi, ducimus error rem quis sunt ipsum tempora
                aliquam. Placeat maxime omnis ea reprehenderit a, nemo
                blanditiis praesentium in, quam iure perferendis est, rem
                voluptatum aliquam amet doloremque! Perspiciatis, ullam,
                distinctio consequuntur non voluptas minima maiores saepe,
                obcaecati tempora illo velit quis ex exercitationem sequi sunt
                ratione? Officiis cum amet doloremque, obcaecati sunt inventore
                animi quam ut? Facilis. Eaque velit odit id totam? Placeat,
                culpa fuga officiis perferendis dolore quidem nobis, voluptas in
                nulla sed possimus error dignissimos deleniti suscipit nisi
                corporis odio. Aperiam voluptatibus dolorem at consectetur? Odit
                illo sit, repellat, similique, recusandae autem nam et quia
                omnis labore quam. Porro vel esse ad nemo officiis nostrum
                beatae enim sint iste, hic obcaecati sit explicabo quis maiores?
                Fuga dignissimos optio maxime, assumenda adipisci molestias eos
                quod labore dolorum cum alias excepturi. Ex, eius illum iste
                porro molestias possimus, atque vitae ullam reprehenderit itaque
                ea, nesciunt odit quod? Tempora asperiores voluptatum id ex
                molestias sequi at labore, obcaecati cumque saepe magni incidunt
                pariatur provident quaerat placeat numquam mollitia iste ut ea
                soluta dolores ad. Numquam ipsam quod a? Sed, ullam. Rerum ea
                quis commodi veniam impedit aspernatur fuga expedita deserunt,
                iure sunt esse explicabo temporibus cum id sit eligendi illo
                similique non perferendis nesciunt natus, placeat cupiditate!
                Obcaecati? Facere quaerat voluptatibus, dolorum pariatur debitis
                consectetur iure dolore. Voluptate sit sapiente iste ratione.
                Doloremque aperiam quidem eaque tempora mollitia, alias culpa
                obcaecati ex saepe harum ad eveniet dolore. Nobis? Veritatis
                voluptate rem voluptatibus, esse illo enim exercitationem alias
                cupiditate quisquam eveniet corrupti voluptas temporibus
                praesentium aliquam officia sed? In suscipit iusto aut alias
                officia a, culpa similique voluptatibus asperiores.
            </p>
        </main>
    </body>
</html>
