<title>About Me</title>
<body>
    <nav>
        <a href="/jawad-ahmed.me/">Home</a>
        <a href="/jawad-ahmed.me/about/">About</a>
    </nav>
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi officiis sed dolorem error minima, quidem minus id in officia explicabo, quaerat sint cupiditate deleniti porro itaque molestiae quia quas similique.</p>
</body>
</html>