<body>
    <nav>
        <a href="/jawad-ahmed.me/">Home</a>
        <a href="/jawad-ahmed.me/about/">About</a>
        <a href="/jawad-ahmed.me/blog/">Blog</a>
    </nav>
    <h1>Idle Vapourings</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam qui assumenda quam necessitatibus itaque adipisci culpa exercitationem odit reiciendis rerum eveniet error illum temporibus pariatur repellendus ullam, nam autem vitae?</p>
</body>
